html, body{
    background-image:linear-gradient(#c8cccb, #FFF);
}
.container{
    width:80%;
    Padding:0;
}
header{
    background-image: linear-gradient(white,#f4f4f4,#e1e1e1);
    border-top: 5px solid #282c4a;
}
.logo{
    height:4em;
}

.top-div1{
    color:#282c52 ;
}
.top-div1 img{
    height: 16px;
}
.top-div2{
    background-color: #282c4a;
}

.top-div2:before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 22px solid transparent;
    border-right: 22px solid #282c4a;
    position: absolute;
    left:-22px;
    top: 0;
}
.top-div2:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 22px solid transparent;
    border-left: 22px solid #282c4a;
    position: absolute;
    right:-22px;
    top:0;
}
.nav a{
    color:#282c52;
    font-size: x-small;
}
a.active{
    background-color:#4172b4 !important;
}
.bg-pdf{
    background-image: linear-gradient(#1a4d88,#3366aa);
}
.bg-pdf a{
    background-color:#1f3d7a;
    border-top: 1px black solid;
    box-shadow: -2px -2px white inset;
}

.banner{
    color: #c8cccb;
    background-image:linear-gradient(to right, #182432,#2f4e6b,#424e76,#263b4e,#1e3543,#1d2236,#1d3e4e,#181f29);
}
.banner-text-title{
    font-size: 2em;
    line-height: 1em;
}
.banner-text-content {
    width: 50%;
    font-size: small;
    line-height: 25px;
}
.row button{
    background: linear-gradient(#0c76c4 30%, #074379 60%, #054781 100%);
    font-size: 1.4em;
}
.row button i{
    color: #121B2A;
}
.banner img{
    height:250px;
    width:400px;
}

.curved{
    background-color:#121325;
    top: -30px;
    box-shadow: 2px 2px #263b4e;
}


.content{
    background-image: linear-gradient(lightgray,white,lightgray);
    line-height: 1em;
}


.symbian-img{
    height: 320px;
}
.bg-gray{
    background-image: linear-gradient(lightgray,white,lightgray);
    line-height:1em;
}
h5{
    color:#2d2b4d;
}
.col a{
    color: darkblue;
    font-size: small;
}

.fa-facebook {
    color: #3B5998;
}
.fa-rss{
    color: #ff6600
}
.fa-bing{
    color: #1f3d7a;
}
.fa-twitter{
    color: #55ACEE;
}


footer{
    border-top: 5px solid #000002;
    background-image:linear-gradient(to right, #181f29,#1d2236,#263b4e,#1e3543,#1d2236,#181f29);
}

@media screen and (max-width: 1024px){
    .bottom-nav-bar a{
        font-size:x-small;
    }
}
@media screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    .top-div2{
        font-size: xx-small;
    }
    .banner-text-title{
        font-size:medium;
        width:80%;
    }
    .banner img{
        width:150px;
        height: 200px;
    }
}
@media screen and (max-width: 480px) {
    .container{
        width:95%;
    }
    .top-div1{
        display: none;
    }
    .top-div2{
        font-size: xx-small;
    }
    .top-div2:before{
        border-bottom: 15px solid transparent;
        border-right: 15px solid #282c4a;
        left:-15px;
    }
    .top-div2:after {
        border-bottom: 15px solid transparent;
        border-left: 15px solid #282c4a;
        right:-15px;
    }
    .banner-text-title{
        font-size:medium;
        width:95%;
    }
    .banner-text-content{
        width: 80%;
    }

    .banner img{
        width:200px;
        height: 200px;
    }
    .curved{
        font-size: x-small;
    }

}